body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-column {
  grid-template-columns: 1fr 1.2fr 0.5fr 0.8fr;
}

.grid-five-column {
  grid-template-columns: repeat(5, 1fr);
}
